<!DOCTYPE html>
<html>
<head>
<title>Bienvenido</title>
<meta charset="utf-8">

<style type="text/css">

#form-login{
	font-size: xx-large;
}

</style>

<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/favicon.png'}">
<link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/main.css'}">
</head>
<body style="margin-top: 20px">

	<div class="container">
		<div style="padding-top: 20px;padding-bottom: 40px;" class="hero-unit">
			<h1 style="margin-bottom: 40px;">Twitter</h1>
			<p style="margin-bottom: 40px;">
				<big>Bienvenido a la aplicación de ejemplo tipo Twitter. Para
					empezar a enviar tweets, haz click en "Accede a tu cuenta" para
					entrar con tu cuenta de usuario ya existente, o clickea en
					"Registrate" si es la primera vez que entras y aun no tienes
					cuenta.</big>
			</p>
			<!-- <p>
				<a class="btn btn-primary btn-large">Accede a tu cuenta</a>
				<a class="btn btn-info btn-large">Regístrate</a>
			</p> -->

			<div id="accordion2">

				<div style="margin-bottom: 50px; border: none;"
					class="accordion-group">

					<div style="text-align: center;">
						<a class="btn btn-primary btn-large" data-toggle="collapse"
							data-parent="#accordion2" href="#collapseOne">Accede a tu
							cuenta <span class="caret"></span>
						</a>
					</div>

					<div id="collapseOne" class="accordion-body collapse #{if flash.open == 'login'} in #{/if}">
						<div style="border: 8px solid #E5E5E5; margin-top: 10px" class="accordion-inner">

							#{if flash.open == 'login'}
								#{if flash.error}
									<p class="alert alert-error">&{flash.error}</p>
								#{/if} #{if flash.success}
									<p class="alert alert-success">&{flash.success}</p>
								#{/if}
							#{/if}

							<div style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 40px;">
							
							#{form @Secure.authenticate(), class:'form-horizontal', id:'form-login'}
							
							<div class="control-group">
								<label class="control-label" for="username">Usuario</label>
								<div class="controls">
									<input type="text" id="username" name="username" placeholder="usuario" value="${flash.username}">
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="password">Contraseña</label>
								<div class="controls">
									<input type="password" id="password" name="password" placeholder="contraseña" >
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<label class="checkbox"> <input type="checkbox" name="optionsCheckboxes" value="true"
											${flash.remember ? 'checked="true"' : ''}>
										Recordar contraseña
									</label>
								</div>
							</div>
							
							<div style="text-align: center;" class="input">
            					<input type="submit" class="btn btn-inverse" value="Envía">
          					</div>	
							
							#{/form}

							</div>
						</div>
					</div>
				</div>

				<div style="border: none;" class="accordion-group">

					<div style="text-align: center;">

						<a class="btn btn-info btn-large accordion-toggle"
							data-toggle="collapse" data-parent="#accordion2"
							href="#collapseTwo">Regístrate <span class="caret"></span></a>

					</div>
					<div id="collapseTwo" class="accordion-body collapse #{if flash.open == 'create'} in #{/if}">
						<div style="border: 8px solid #E5E5E5; margin-top: 10px" class="accordion-inner">
						
					#{if flash.open == 'create'}	
						#{if flash.error}
							<p class="alert alert-error">&{flash.error}</p>
						#{/if}
						#{if flash.success}
							<p class="alert alert-success">&{flash.success}</p>
						#{/if}
					#{/if}
					
					<div style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 40px;">
					
						#{form @Security.create(), class:'form-horizontal', id:'form-create'}
					
					
				<div class="control-group #{ifError 'username2'}error#{/ifError}">
					<label class="control-label" for="username2">Usuario</label>
					<div class="controls">
						<input type="text" autocomplete="off" id="username2" name="username2" placeholder="usuario" value="${flash.username2}">
						<span class="help-inline">#{error 'username2' /}</span>
					</div>
				</div>
				
				<div class="control-group #{ifError 'email'}error#{/ifError}">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input type="text" autocomplete="off" id="email" name="email" placeholder="correo electrónico" value="${flash.email}">
						<span class="help-inline">#{error 'email' /}</span>
					</div>
				</div>

				<div class="control-group #{ifError 'password2'}error#{/ifError}">
					<label class="control-label" for="password2">Contraseña</label>
					<div class="controls">
						<input type="password" autocomplete="off" id="password2" name="password2" placeholder="contraseña" >
						<span class="help-inline">#{error 'password2' /}</span>
					</div>
				</div>

				<div class="control-group #{ifError 'password3'}error#{/ifError}">
					<label class="control-label" for="password3">Repite la contraseña</label>
					<div class="controls">
						<input type="password" autocomplete="off" id="password3" name="password3" placeholder="contraseña" >
						<span class="help-inline">#{error 'password3' /}</span>
					</div>
				</div>
          
          		
				<div style="text-align: center;" class="input">
            		<input type="submit" class="btn btn-inverse" value="Envía">
          		</div>	
				#{/form}
						
						
						</div>
						</div>
					</div>
				</div>

			</div>

		</div>


		<footer style="text-align: center;">
			<p>
				<a href="http://www.insoftcan.com">&{'Insoftcan'}</a> - <a
					href="http://git.insoftcan.com/twitterplay">&{'codigoFuente'}</a>
			</p>
		</footer>

	</div>
	<!-- /container -->
	<script src="@{'/public/javascripts/jquery-1.8.0.js'}"
		type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/bootstrap.js'}"></script>
</body>
</html>
